<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.barterapp">

    <dist:module dist:instant="true" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BarterTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/BarterTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.TermsAndConditionsActivity" />
        <activity
            android:name=".views.AboutActivity"
            android:label="About" />
        <activity
            android:name=".views.ContactsActivity"
            android:label="Contact" />
        <activity
            android:name=".views.ViewVideoActivity"
            android:label="View Video" />
        <activity
            android:name=".views.ViewImageActivity"
            android:label="Image" />
        <activity
            android:name=".views.UserProductsActivity"
            android:label="Products" />
        <activity
            android:name=".views.ReviewsActivity"
            android:label="Reviews" />
        <activity
            android:name=".views.ViewMyProductActivity"
            android:label="Product" />
        <activity
            android:name=".views.ViewReviewActivity"
            android:label="Review" />
        <activity
            android:name=".views.ViewOfferActivity"
            android:label="Offer" />
        <activity
            android:name=".views.OfferActivity"
            android:label="Make Offer" />
        <activity
            android:name=".views.ViewProductActivity"
            android:label="Product" />
        <activity
            android:name=".views.AddProductActivity"
            android:label="Add Product" />
        <activity
            android:name=".views.AccountActivity"
            android:label="My Account"
            android:theme="@style/BarterTheme" />
        <activity
            android:name=".views.ForgotPassActivity"
            android:label="Password Reset" />
        <activity
            android:name=".views.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".views.LoginActivity"
            android:label="@string/title_activity_login" />
    </application>

</manifest>