<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.barterapp">

    <dist:module dist:instant="true" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.ViewVideoActivity"></activity>
        <activity android:name=".views.ViewImageActivity" />
        <activity android:name=".views.UserProductsActivity" />
        <activity android:name=".views.ReviewsActivity" />
        <activity android:name=".views.ViewMyProductActivity" />
        <activity android:name=".views.ViewReviewActivity" />
        <activity android:name=".views.ViewOfferActivity" />
        <activity android:name=".views.OfferActivity" />
        <activity android:name=".views.ViewProductActivity" />
        <activity android:name=".views.AddProductActivity" />
        <activity
            android:name=".views.AccountActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.ForgotPassActivity" />
        <activity
            android:name=".views.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".views.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>